html :where(.wp-block.wp-block) {
	max-width: 1300px;
}

.interface-interface-skeleton__sidebar .interface-complementary-area {
	width: 100%;
}
@media screen and (min-width: 1024px) {
	.is-sidebar-opened .interface-interface-skeleton__sidebar {
		width: 28vw;
	}
}
